@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-marker {
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-duration: .4s;
  animation-timing-function: linear;
  width: 15px;
  height: 15px;
  opacity: 1;
  box-shadow: 1px 1px 4px red;
}

@keyframes grow {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}